@use "../settings/variables";

.page {
  display: grid;
  gap: var(--spacing);
  box-sizing: border-box;
  padding: var(--spacing);
  max-width: 1200px;
  min-height: calc(100vh - var(--spacing)); // adjusting for the decorative border on the body element
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "content"
    "footer"; 
  
  @media (min-width: variables.$breakpoint--2-columns) {
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
      "header content"
      ". content"
      ". footer";
  }

  &__header {
    grid-area: header;
  }

  &__content {
    grid-area: content;
  }

  &__footer {
    grid-area: footer;
  }
}
