.page {
  display: grid;
  gap: var(--spacing);
  margin: var(--spacing) auto;
  max-width: 1200px;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "content"
    "footer"; 
  
  @media (min-width: $breakpoint--2-columns) {
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
      "header content"
      ". content"
      ". footer";
  }

  &__header {
    grid-area: header;
  }

  &__content {
    grid-area: content;
  }

  &__footer {
    grid-area: footer;
  }
}
