.avatar {
  width: 100%;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  border: $border;
}

.sweater {
  color: var(--featured);
}
.shirt {
  color: var(--tertiary);
}
.hair {
  color: #2B2318;
}
.skin {
  color: #DABE95;
}
.blush {
  color: #E7AE9B;
}
.lips {
  color: #FD6E8A;
}
.eyes {
  color: #1A1202;
}
