@use "../settings/variables";

.avatar-link:focus,
.avatar-link:hover {
  outline: none;
  
  .avatar {
    transform: scale(1.1);
  }
}

.avatar {
  width: 100%;
  max-width: 150px;
  max-height: 150px;
  border: var(--border-thick) var(--theme-primary);
  border-radius: 50%;
  background-color: var(--theme-secondary);
  margin: 0 auto calc(var(--spacing) / 2);
  transition: transform variables.$transition-speed;
}

.sweater {
  color: var(--theme-primary);
}
.shirt {
  color: #9EEBCF;
}
.hair {
  color: #2B2318;
}
.skin {
  color: #DABE95;
}
.blush {
  color: #E7AE9B;
}
.lips {
  color: #FD6E8A;
}
.eyes {
  color: #1A1202;
}
