@use '../tokens/breakpoints';

.client-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: var(--spacing-columns);
  margin-block: 3rem;

  &__item {
    width: 40%;

    @media (min-width: breakpoints.$breakpoint--2-columns--text) {
      width: 20%;
    }

    @media (min-width: breakpoints.$breakpoint--logos) {
      width: 14%;
    }
  }

  &__logo {
    height: 40px;
    max-width: 100%;
  }
}
