.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__cat {
    max-width: 100px;
    margin-bottom: calc(var(--spacing) * -1);
  }
}

.face {
  color: var(color-primary);
}
.cat {
  color: var(--theme-primary);
}