.header {
  display: grid;
  grid-column-gap: var(--spacing);
  grid-template-columns: 155px 1fr;
  grid-template-rows: auto auto;
  margin-bottom: calc(var(--spacing) * 2);

  @media (min-width: $breakpoint--2-columns) {
    display: flex;
    gap: var(--spacing);
    flex-direction: column;
    text-align: center;
  }

  &__avatar {
    grid-row: span 2;
  }

  &__name {
    align-self: end;
    
    @media (min-width: $breakpoint--2-columns) {
      align-self: unset;
    }
  }
}
