@use "../tokens/breakpoints";

.hero {
  position: relative;
  color: var(--theme-text);
  background-color: var(--theme-background);
  background-image:
    repeating-linear-gradient( 0deg, var(--theme-background-accent) 0px 1px,	transparent 1px 50px),
    repeating-linear-gradient( 90deg, var(--theme-background-accent) 0px 1px,	transparent 1px 50px);

  @media (min-width: breakpoints.$breakpoint--2-columns) {
    text-align: right;
  }

  &__avatar {
    display: none;

    @media (min-width: breakpoints.$breakpoint--2-columns) {
      display: block;
      width: 45%;
      max-width: 35rem;
    }
  }

  &__list {
    background-color: var(--theme-background);
    color: var(--theme-text);
    text-align: center;
    font-size: 1.25rem;

    &-list {
      margin: 0;
    }
  }
}
