.icon-links {
  &__link {
    display: block;
    text-decoration: none;

    &:hover .icon-links__icon {
      transform: translateY(-0.5rem);
    }
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: $primary;

    transition: transform $transition-speed;

    @include themed-styles {
      fill: var(--secondary);
    }
  }
}
