@use "../settings/variables";

.icon-links {
  text-align: left;

  @media (min-width: variables.$breakpoint--2-columns) {
    max-width: 50%;
    margin: auto;
  }

  &__item {
    display: inline-block;
    transition: transform variables.$transition-speed;
    
    &:hover {
      transform: translateY(-0.5rem);
    }
    
    @media (min-width: variables.$breakpoint--2-columns) {
      display: block;
      
      &:hover {
        transform: translateX(0.5rem);
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: var(--color-primary);
  }

  &__icon {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 0.5rem -0.25rem 0;
    fill: var(--theme-primary);
  }
}
