:root {
  color-scheme: light dark;

  --theme-background: var(--color-primitive-prune-juice);
  --theme-background-accent: var(--color-primitive-prune);
  --theme-text: var(--color-primitive-prune);
  --theme-accent: var(--color-primitive-kale);

  --spacing: 1rem;
  --border: 2px solid var(--theme-accent);
  --animate-speed: 0.5s;
}
