:root {
  color-scheme: light dark;

  --theme-background: light-dark(var(--color-primitive-prune-juice), var(--color-primitive-prune));
  --theme-text: light-dark(var(--color-primitive-prune), var(--color-primitive-prune-juice));
  --theme-accent: light-dark(var(--color-primitive-kale), var(--color-primitive-berry));

  --spacing: 1rem;
  --border: 2px solid var(--theme-accent);
  --animate-speed: 0.5s;
}
