:root {
  // Color
  --color-primitive-prune: #001B44;
  --color-primitive-prune-juice: #EEF2F8;

  --color-primitive-kale: #137752;
  --color-primitive-kale-smoothie: #F1FEF9;

  --color-primitive-berry: #D5008F;
  --color-primitive-berry-sorbet: #FFF8F8;

  --color-primitive-pumpkin: #FFB700;
  --color-primitive-pumpkin-puree: #FFFCEB;
}
