$transition-speed: 0.5s;
$primary: #001B44;
$border: 2px solid $primary;
$container-offset: 0.75rem;

// Breakpoints
$breakpoint--2-columns: 900px;
$breakpoint--hero: 1100px;
$breakpoint--hero-rotate: 1200px;