@use "../tokens/breakpoints";

.layout-to-edges {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: breakpoints.$breakpoint--2-columns) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-columns);
  }

  &__first {
    order: 1;

    @media (min-width: breakpoints.$breakpoint--2-columns) {
      order: unset;
    }
  }
}
