@use "../tokens/breakpoints";

.layout-to-edges {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: breakpoints.$breakpoint--2-columns) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: right;
  }
}
