@use "../tokens/breakpoints";

.text-featured {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 3.5rem;
  margin: 3rem 0;
  line-height: 1;

  @media (min-width: breakpoints.$breakpoint--2-columns) {
    font-size: 5rem;
  }
}

.text-section {
  font-family: "DM Serif Display";
  font-weight: 400;
  margin: var(--spacing-content) 0;
  padding-top: var(--spacing-content);
  font-size: 2.25rem;
  line-height: 1.2;
}

.text-highlight {
  color: var(--theme-accent);
}

.text-name {
  font-size: 1.25rem;
  font-weight: 600;
}

.text-large {
  font-size: 1.75rem;
  font-weight: 400;

  @media (min-width: breakpoints.$breakpoint--2-columns) {
    font-size: 1.25rem;
  }
}

.text-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text-copy {
  margin-block-start: 2rem;

  @media (min-width: breakpoints.$breakpoint--2-columns) {
    margin: 0;
  }
}

.text-unlink {
  color: currentcolor;
  text-decoration: none;

  &:hover {
    text-decoration: underline wavy;
  }
}

.text-eyebrow {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--theme-accent);
}

.text-date {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-style: italic;
}
