.text-featured {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 3.25rem;
  margin: 3rem 0;
  line-height: 1;
  max-width: 700px;
}

.text-section {
  font-family: "DM Serif Display";
  font-weight: 400;
  margin: 0 0 var(--spacing);
  padding-top: var(--spacing);
  font-size: 2.25rem;
  line-height: 1.2;
  border-top: 2px solid var(--theme-primary);
}

.text-highlight {
  color: var(--color-secondary);
}

.text-large {
  font-size: 1.75rem;
  font-weight: 400;
  
  @media (min-width: $breakpoint--2-columns) {
    font-size: 1.25rem;
  }
}

.text-visually-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}