.t-pumpkin {
  --secondary: #19A974;
  
  --theme-primary: #FFB700;
  --theme-secondary: #FFFCEB;
}

.t-tomato {
  --secondary: #FFB700;
  
  --theme-primary: #FF4136;
  --theme-secondary: #FFF6F6;
}

.t-berry {
  --secondary: #19A974;
  
  --theme-primary: #D5008F;
  --theme-secondary: #FFF8F8;
}

.t-kale {
  --secondary: #FF725C;
  
  --theme-primary: #19A974;
  --theme-secondary: #F1FEF9;
}
