.t-pumpkin {
  --theme-primary: #FFB700;
  --theme-secondary: #FFFCEB;
}

.t-tomato {
  --theme-primary: #FF4136;
  --theme-secondary: #FFF6F6;
}

.t-berry {
  --theme-primary: #D5008F;
  --theme-secondary: #FFF8F8;
}

.t-kale {
  --theme-primary: #1AAD77;
  --theme-secondary: #F1FEF9;
}

.t-blueberry {
  --theme-primary: #00449E;
  --theme-secondary: #F6FFFE;
  
  @media (prefers-color-scheme: dark) {
    --theme-primary: #357EDD;
  }
}