  <header class="header sticky" role="banner">
    {{> _header }}
  </header>

  <main class="content" role="main">
    <div class="t-white">
      <div class="max-width">
        {{> _about }}
      </div>
    </div>
  </main>

  <footer class="footer t-dark" role="contentinfo">
    <div class="max-width">
      {{> _footer }}
    </div>
  </footer>
