  <header class="header" role="banner">
    <div class="max-width">  
      {{> _header }}
    </div>
  </header>

  <main class="content" role="main">
    <div class="max-width-wide">  
      {{> _accounts }}
    </div>
  </main>

  <footer class="footer" role="contentinfo">
    <div class="max-width">  
      {{> _footer }}
    </div>
  </footer>