<div class="about">
  <img class="about__img about__img--feature" src="imgs/kasey-bonifacio.jpg" alt="Kasey Bonifacio" />
  
  <h1 class="about__title">{{site.tagline}}</h1>

  <p>{{site.bio}}</p>
</div>
