<h1 class="content__title">All the Things</h1>

<ul class="grid">
  {{#online_accounts}}
  <li class="grid__item">
    <div class="grid__card">
      <h3>On <a href="{{ account.url }}" title="{{ account.title }}">{{ account.title }}</a> I post about:</h3>
      <ul class="menu">
        {{#each account.tags}}
        <li class="menu__item">#{{ . }}</li>
        {{/each}}
      </ul>
    </div>
  </li>
  {{/online_accounts}}
</ul>
