<h1 class="content__title">All the Things</h1>

<ul class="grid">
  {{#online_accounts}}
  <li class="grid__item">
    <a href="{{ account.url }}" title="{{ account.title }}" class="grid__card">
      <h2>{{ account.title }}</h2>
      <h3>I post about:</h3>
      <ul class="menu">
        {{#each account.tags}}
        <li class="menu__item">#{{ . }}</li>
        {{/each}}
      </ul>
    </a>
  </li>
  {{/online_accounts}}
</ul>
