<nav class="footer__social-nav">
  {{#online_accounts}}
    <a href="{{ account.url }}">
      <img src="imgs/social/{{ account.icon }}.svg" alt="{{account.title}}" />
    </a>
  {{/online_accounts}}
</nav>

<p>&copy; 2017 Kasey Bonifacio</p>
