<h2 class="content__title">Writing</h2>

<div class="inline-grid">
  {{#writing}}
    <a href="{{ post.url }}" class="card inline-grid__item">
      <span class="card__pen"></span><span class="card__post">{{ post.title }}</span>
    </a>
  {{/writing}}
</div>

<p>See all of my posts on the <a href="https://seesparkbox.com/foundry/author/kasey_bonifacio">Sparkbox Foundry</a>.</p>
