<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ meta.description }}">
  <meta name="keywords" content="{{ meta.keywords }}">
  <title>{{ meta.title }} :: Frontend Development, Web Accessibility, and Design Systems</title>

  <link href="/css/style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@300;400&display=swap" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffffff">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <div class="page">
    <header class="page__header header">
      <a href="#mainContent" class="link-pill skip-to">Skip to Content</a>
      <a href="/" class="header__avatar avatar-link text-unlink">
        {% include "svg-profile.njk" %}
      </a>
      
      <span class="header__name text-large">Kasey Bonifacio</span>

      <nav aria-labelledby="connect">
        <h2 id="connect" class="text-visually-hidden">Connect with me</h2>

        <ul class="icon-links">
          <li class="icon-links__item">
            <a href="https://www.linkedin.com/in/kaseybon/" class="icon-links__link">
              {% include "svg-linkedin.njk" %}
              LinkedIn
            </a>
          </li>
          <li class="icon-links__item">
            <a href="https://github.com/kaseybon" class="icon-links__link">
              {% include "svg-github.njk" %}
              GitHub
            </a>
          </li>
          <li class="icon-links__item">
            <a href="https://codepen.io/kaseybon/" class="icon-links__link">
              {% include "svg-codepen.njk" %}
              CodePen
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="mainContent" class="page__content">
      {{ content | safe }}
    </main>

    <footer class="page__footer footer">
      <small class="text-copy">&copy; 2024 Kasey Bonifacio</small>

      {% include "svg-cat.njk" %}
    </footer>
  </div>

  <script src="/js/scripts.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-46795000-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
