<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 280 320" xml:space="preserve" class="avatar">
  <symbol id="x" width="20" height="20" stroke="currentColor">
    <line stroke-width="5" stroke-linecap="round" x1="3" y1="3" x2="17" y2="17"></line>
    <line stroke-width="5" stroke-linecap="round" x1="3" y1="17" x2="17" y2="3"></line>
  </symbol>

  <!-- Col 3 -->
  <use xlink:href="#x" x="40" y="260" class="sweater"></use>
  <use xlink:href="#x" x="40" y="280" class="sweater"></use>
  <use xlink:href="#x" x="40" y="300" class="sweater"></use>

  <!-- Col 4 -->
  <use xlink:href="#x" x="60" y="80" class="hair"></use>
  <use xlink:href="#x" x="60" y="100" class="hair"></use>
  <use xlink:href="#x" x="60" y="120" class="hair"></use>
  <use xlink:href="#x" x="60" y="140" class="hair"></use>
  <use xlink:href="#x" x="60" y="160" class="hair"></use>
  <use xlink:href="#x" x="60" y="180" class="hair"></use>
  <use xlink:href="#x" x="60" y="200" class="hair"></use>
  <use xlink:href="#x" x="60" y="220" class="hair"></use>
  <use xlink:href="#x" x="60" y="240" class="sweater"></use>
  <use xlink:href="#x" x="60" y="260" class="sweater"></use>
  <use xlink:href="#x" x="60" y="280" class="sweater"></use>
  <use xlink:href="#x" x="60" y="300" class="sweater"></use>

  <!-- Col 5 -->
  <use xlink:href="#x" x="80" y="60" class="hair"></use>
  <use xlink:href="#x" x="80" y="80" class="hair"></use>
  <use xlink:href="#x" x="80" y="100" class="hair"></use>
  <use xlink:href="#x" x="80" y="120" class="skin"></use>
  <use xlink:href="#x" x="80" y="140" class="skin"></use>
  <use xlink:href="#x" x="80" y="160" class="skin"></use>
  <use xlink:href="#x" x="80" y="180" class="hair"></use>
  <use xlink:href="#x" x="80" y="200" class="hair"></use>
  <use xlink:href="#x" x="80" y="220" class="sweater"></use>
  <use xlink:href="#x" x="80" y="240" class="sweater"></use>
  <use xlink:href="#x" x="80" y="260" class="sweater"></use>
  <use xlink:href="#x" x="80" y="280" class="sweater"></use>
  <use xlink:href="#x" x="80" y="300" class="sweater"></use>

  <!-- Col 6 -->
  <use xlink:href="#x" x="100" y="40" class="hair"></use>
  <use xlink:href="#x" x="100" y="60" class="hair"></use>
  <use xlink:href="#x" x="100" y="80" class="hair"></use>
  <use xlink:href="#x" x="100" y="100" class="hair"></use>
  <use xlink:href="#x" x="100" y="120" class="eyes"></use>
  <use xlink:href="#x" x="100" y="140" class="blush"></use>
  <use xlink:href="#x" x="100" y="160" class="skin"></use>
  <use xlink:href="#x" x="100" y="180" class="skin"></use>
  <use xlink:href="#x" x="100" y="200" class="hair"></use>
  <use xlink:href="#x" x="100" y="220" class="sweater"></use>
  <use xlink:href="#x" x="100" y="240" class="sweater"></use>
  <use xlink:href="#x" x="100" y="260" class="sweater"></use>
  <use xlink:href="#x" x="100" y="280" class="sweater"></use>
  <use xlink:href="#x" x="100" y="300" class="sweater"></use>

  <!-- Col 7 -->
  <use xlink:href="#x" x="120" y="40" class="hair"></use>
  <use xlink:href="#x" x="120" y="60" class="hair"></use>
  <use xlink:href="#x" x="120" y="80" class="hair"></use>
  <use xlink:href="#x" x="120" y="100" class="hair"></use>
  <use xlink:href="#x" x="120" y="120" class="skin"></use>
  <use xlink:href="#x" x="120" y="140" class="skin"></use>
  <use xlink:href="#x" x="120" y="160" class="lips"></use>
  <use xlink:href="#x" x="120" y="180" class="skin"></use>
  <use xlink:href="#x" x="120" y="200" class="skin"></use>
  <use xlink:href="#x" x="120" y="220" class="skin"></use>
  <use xlink:href="#x" x="120" y="240" class="shirt"></use>
  <use xlink:href="#x" x="120" y="260" class="shirt"></use>
  <use xlink:href="#x" x="120" y="280" class="shirt"></use>
  <use xlink:href="#x" x="120" y="300" class="shirt"></use>

  <!-- Col 8 -->
  <use xlink:href="#x" x="140" y="40" class="hair"></use>
  <use xlink:href="#x" x="140" y="60" class="hair"></use>
  <use xlink:href="#x" x="140" y="80" class="hair"></use>
  <use xlink:href="#x" x="140" y="100" class="hair"></use>
  <use xlink:href="#x" x="140" y="120" class="skin"></use>
  <use xlink:href="#x" x="140" y="140" class="skin"></use>
  <use xlink:href="#x" x="140" y="160" class="lips"></use>
  <use xlink:href="#x" x="140" y="180" class="skin"></use>
  <use xlink:href="#x" x="140" y="200" class="skin"></use>
  <use xlink:href="#x" x="140" y="220" class="skin"></use>
  <use xlink:href="#x" x="140" y="240" class="shirt"></use>
  <use xlink:href="#x" x="140" y="260" class="shirt"></use>
  <use xlink:href="#x" x="140" y="280" class="shirt"></use>
  <use xlink:href="#x" x="140" y="300" class="shirt"></use>

  <!-- Col 9 -->
  <use xlink:href="#x" x="160" y="40" class="hair"></use>
  <use xlink:href="#x" x="160" y="60" class="hair"></use>
  <use xlink:href="#x" x="160" y="80" class="hair"></use>
  <use xlink:href="#x" x="160" y="100" class="hair"></use>
  <use xlink:href="#x" x="160" y="120" class="eyes"></use>
  <use xlink:href="#x" x="160" y="140" class="blush"></use>
  <use xlink:href="#x" x="160" y="160" class="skin"></use>
  <use xlink:href="#x" x="160" y="180" class="skin"></use>
  <use xlink:href="#x" x="160" y="200" class="hair"></use>
  <use xlink:href="#x" x="160" y="220" class="sweater"></use>
  <use xlink:href="#x" x="160" y="240" class="sweater"></use>
  <use xlink:href="#x" x="160" y="260" class="sweater"></use>
  <use xlink:href="#x" x="160" y="280" class="sweater"></use>
  <use xlink:href="#x" x="160" y="300" class="sweater"></use>

  <!-- Col 10 -->
  <use xlink:href="#x" x="180" y="60" class="hair"></use>
  <use xlink:href="#x" x="180" y="80" class="hair"></use>
  <use xlink:href="#x" x="180" y="100" class="hair"></use>
  <use xlink:href="#x" x="180" y="120" class="skin"></use>
  <use xlink:href="#x" x="180" y="140" class="skin"></use>
  <use xlink:href="#x" x="180" y="160" class="skin"></use>
  <use xlink:href="#x" x="180" y="180" class="hair"></use>
  <use xlink:href="#x" x="180" y="200" class="hair"></use>
  <use xlink:href="#x" x="180" y="220" class="sweater"></use>
  <use xlink:href="#x" x="180" y="240" class="sweater"></use>
  <use xlink:href="#x" x="180" y="260" class="sweater"></use>
  <use xlink:href="#x" x="180" y="280" class="sweater"></use>
  <use xlink:href="#x" x="180" y="300" class="sweater"></use>

  <!-- Col 11 -->
  <use xlink:href="#x" x="200" y="80" class="hair"></use>
  <use xlink:href="#x" x="200" y="100" class="hair"></use>
  <use xlink:href="#x" x="200" y="120" class="hair"></use>
  <use xlink:href="#x" x="200" y="140" class="hair"></use>
  <use xlink:href="#x" x="200" y="160" class="hair"></use>
  <use xlink:href="#x" x="200" y="180" class="hair"></use>
  <use xlink:href="#x" x="200" y="200" class="hair"></use>
  <use xlink:href="#x" x="200" y="220" class="hair"></use>
  <use xlink:href="#x" x="200" y="240" class="sweater"></use>
  <use xlink:href="#x" x="200" y="260" class="sweater"></use>
  <use xlink:href="#x" x="200" y="280" class="sweater"></use>
  <use xlink:href="#x" x="200" y="300" class="sweater"></use>

  <!-- Col 12 -->
  <use xlink:href="#x" x="220" y="260" class="sweater"></use>
  <use xlink:href="#x" x="220" y="280" class="sweater"></use>
  <use xlink:href="#x" x="220" y="300" class="sweater"></use>
</svg>