.about {
  background: $c--white;
  font-size: 18px;
  line-height: 1.8;

  &__title {
    color: $c--tomato;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 600px) {
      font-size: 50px;
    }

    @media (min-width: 900px) {
      text-align: left;
      padding-top: $sp;
    }
  }

  &__img {
    border-radius: 50%;

    &--feature {
      display: block;
      max-width: 200px;
      margin: 0 auto 2rem;

      @media (min-width: 900px) {
        max-width: 300px;
        shape-outside: circle(50%);
        margin: 0 2rem 2rem 0;
        float: left;
      }
    }

    &--family {
      display: block;
      max-width: 200px;
      shape-outside: circle(50%);
      margin: 0 0 2rem 2rem;
      float: right;
    }
  }
}

@media print {
  .about {
    text-align: left;
    padding: 0 0 20px;

    &__title {
      font-size: 30px;
      margin-bottom: 20px;
      color: #000;
    }
  }
}
