.about {
  background: $c--white;
  padding: $sp;
  text-align: center;

  &__title {
    color: $c--tomato;
    font-size: 30px;

    @media (min-width: 600px) {
      font-size: 50px;
    }
  }
}

@media print {
  .about {
    text-align: left;
    padding: 0 0 20px;

    &__title {
      font-size: 30px;
      margin-bottom: 20px;
      color: #000;
    }
  }
}
