.content__title {
  font-size: 30px;
  text-align: center;
}

@media print {
  .content {
    padding: 0 0 20px;
    text-align: left;
  }

  .content__title {
    &:after {
      content: ': ';
    }
  }
}
