.content {
  a:not([class]) {
    transition: all 0.5s;
    border-bottom: 2px solid $c--smoke;
    text-decoration: none;
    background: $c--white-smoke;

    &:hover {
      background: $c--white;
      border-color: $c--tomato;
    }
  }
}
.content__title {
  font-size: 30px;
  padding-bottom: ($sp / 2);
  margin-bottom: $sp;
  border-bottom: 2px dashed currentColor;
  text-transform: uppercase;
}

@media print {
  .content {
    padding: 0 0 20px;
    text-align: left;
  }

  .content__title {
    &:after {
      content: ': ';
    }
  }
}
