.content {
  a:not([class]) {
    transition: background 0.5s;

    &:hover {
      background: $c--white-smoke;
    }
  }
}
.content__title {
  font-size: 30px;
  padding-bottom: ($sp / 2);
  margin-bottom: $sp;
  border-bottom: 2px dashed $c--smoke;
  text-transform: uppercase;
}

@media print {
  .content {
    padding: 0 0 20px;
    text-align: left;
  }

  .content__title {
    &:after {
      content: ': ';
    }
  }
}
