.nav {
  border-top: 2px dashed $c--silver;
  margin: $sp 0;
  padding-top: $sp;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: -15px;
    right: 0;
    background: $c--white url(imgs/scissors.svg);
  }
}
.nav__title {
  display: inline-block;
  margin: 0;
  font-size: 20px;
}

@media print {
  .nav {
    border: none;
    margin: 0;
    padding: 0;
  }
}
