body {
  background: $c--white-smoke;
  font-family: $f--primary;
  color: $c--smoke;
  padding: 2rem;
  margin: 0;
  line-height: 1.64em;
  font-size: 16px;
}

/* Text */
h1, h2, h3, h4, h5, h6 {
  font-family: $f--heading;
  line-height: 1.64em;
  margin: 0 0 1.64rem;
}

p:not(:last-child) {
  margin: 0 0 1.64em;
}

/* Links */
a {
  color: inherit;
}

/* Lists */
ol, ul {
  margin: 0 0 1.64rem;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

@media print {
  body {
    background: transparent;
    color: #000;
    margin: 0.5cm;
  }

  a {
    color: #000;

    &:hover {
      text-decoration: none;
    }

    &:after {
      content: " [ " attr(href) " ]";
      font-size: 12px;
      display: inline;
    }
  }

  img {
    page-break-inside: avoid;
    filter: gray;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
}
