// Typography
$f--heading: Arvo, Helvetica, Arial, sans-serif;
$f--primary: 'Open Sans', Helvetica, Arial, sans-serif;

// Colors
$c--tomato: tomato;
$c--smoke: #626169;
$c--silver: lighten($c--smoke, 40%);
$c--white-smoke: lighten($c--smoke, 50%);
$c--white: white;

// Elements
$sp: 2rem;
