// Typography
$f--heading: Arvo, Helvetica, Arial, sans-serif;
$f--primary: Helvetica, Arial, sans-serif;

// Colors
$c--tomato: tomato;
$c--smoke: #626169;
$c--silver: #bbbbbb;
$c--white: white;


// Elements
$sp--large: 15%;
$sp--small: 5%;