body {
  padding: 0;
}

.max-width {
  max-width: 68em;
  margin: auto;
  padding: $sp;
  overflow: auto;
}

.flex-grid {
  display: block;
  box-sizing: border-box;

  @media (min-width: 900px) {
    margin-left: -($sp);
    margin-right: -($sp);

    &__item {
      width: 50%;
      float: left;

      &:nth-child(even) {
        clear: right;
      }
    }
  }
}


@media print {
  .max-width, .max-width--wide {
    max-width: none;
  }
}
