.t-white {
  background-color: $c--white;
  color: $c--smoke;
}

.t-light {
  background-color: $c--white-smoke;
}

.t-medium {
  background-color: $c--silver;
}

.t-dark {
  background-color: $c--smoke;
  color: $c--silver;
}


@media print {
  .t-white,
  .t-dark {
    background: transparent;
    color: black;
  }
}
