body {
  padding: var(--spacing);
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: $primary;
  font-size: 1rem;
  line-height: 1.6;

  @include themed-styles {
    background-color: var(--light);
    transition: background $transition-speed;

    @media (min-width: 800px) {
      background-color: white;
    }
  }
}

p {
  margin: var(--spacing) 0;
}

a:not([class]) {
  color: var(--featured);
}

h1:not([class]) {
  margin: calc(var(--spacing) * 2) 0 0; 
  font-size: 3.5rem;
  line-height: 1;
}

h2:not([class]) {
  font-size: 1.1rem;
}

ul {
  list-style-type: none;
  margin: 0 -0.25rem;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0.25rem;
}
