:root {
  --spacing: 1rem;

  @media (min-width: 600px) {
    --spacing: 2rem;
  }

   @media (min-width: 900px) {
    --spacing: 2.5rem;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: $primary;
  font-size: 1rem;
  line-height: 1.6;

  @include themed-styles {
    background-color: var(--light);
    transition: background $transition-speed;

    @media (min-width: 800px) {
      background-color: white;
    }
  }
}

p {
  @media (min-width: 400px) {
    margin: calc(var(--spacing) * 2.5) 0 0;
  }
}

a:not([class]) {
  color: var(--featured);
}

h1:not([class]) {
  margin: calc(var(--spacing) * 2) 0 0;
  
  font-size: 3.5rem;
  line-height: 1;

  @media (min-width: 800px) {
    font-size: 4.5rem;
  }

  @include themed-styles {
    text-shadow: 0.25rem 0.25rem 0 var(--featured);
  }
}

h2:not([class]) {
  font-size: 1.1rem;
}

ul {
  list-style-type: none;
  margin: 0 -0.25rem;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0.25rem;
}
