body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--page-background);
  color: var(--color-primary);
  font-size: 1rem;
  line-height: 1.6;
  padding-top: var(--spacing);
  margin: 0;
}

p {
  margin: 0 0 var(--spacing);
}

a:not([class]) {
  color: var(--color-secondary);

  &:hover {
    text-decoration-style: wavy;
  }
}

ul {
  list-style-type: none;
  margin: 0 0 var(--spacing);
  padding: 0;
}

li {
  display: inline-block;
  margin: 0.25rem;
}

blockquote {
  border-left: 3px solid var(--theme-primary);
  margin: 0;
  padding-left: var(--spacing);
}