body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: $primary;
  font-size: 1.125rem;
  line-height: 1.6;

  @include themed-styles {
    background-color: var(--light);
    transition: background $transition-speed;

    @media (min-width: 800px) {
      background-color: white;
    }
  }
}

p {
  margin: 0 0 1.6rem;

  &:last-child {
    margin: 0;
  }
}

a:not([class]) {
  color: inherit;
  font-weight: 700;
  display: inline-block;
  padding: 0 0.25rem;
  transition: background $transition-speed;

  &:hover {
    background-color: $primary;
    color: white;
  }

  @include themed-styles {
    text-decoration: none;
    background: var(--tertiary);
    border-bottom: 0.125rem solid var(--secondary);

    &:hover {
      background: var(--secondary);
      color: $primary;
    }
  }
}

main {
  margin-bottom: 3rem;
}

h1 {
  margin: 0;
  font-family: 'Francois One';
  font-size: 4.25rem;

  @media (min-width: 800px) {
    font-size: 6.25rem;
  }
}

h2 {
  font-family: 'Francois One';
  font-size: 2rem;
  text-transform: uppercase;

  @include themed-styles {
    text-shadow: -0.125rem 0.125rem 0 var(--tertiary);
  }
}

ul {
  list-style-type: none;
  margin: 0 -0.25rem;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0.25rem;
}
