:root {
  --spacing: 1rem;

  @media (min-width: 600px) {
    --spacing: 2rem;
  }

   @media (min-width: 900px) {
    --spacing: 2.5rem;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: $primary;
  font-size: 1.25rem;
  line-height: 1.8;

  @include themed-styles {
    background-color: var(--light);
    transition: background $transition-speed;

    @media (min-width: 800px) {
      background-color: white;
    }
  }
}

p {
  &:first-line {
    font-weight: bold;
  }

  @media (min-width: 400px) {
    margin: calc(var(--spacing) * 2.5) 0 0;
  }
}

a:not([class]) {
  color: inherit;
  font-weight: 700;
  display: inline-block;
  padding: 0 0.25rem;

  &:hover {
    background-color: $primary;
    color: white;
  }

  @include themed-styles {
    text-decoration: none;
    border: 0.125rem dashed var(--secondary);
    transition: background $transition-speed;

    &:hover {
      background: var(--secondary);
      color: $primary;
    }
  }
}

h1 {
  margin: calc(var(--spacing) * 2) 0 0;
  font-family: 'Francois One';
  font-size: 3.5rem;
  line-height: 1;

  @media (min-width: 800px) {
    font-size: 4.5rem;
  }

  @include themed-styles {
    text-shadow: 0.25rem 0.25rem 0 var(--featured);
  }
}

h2 {
  font-size: 1.1rem;
}

ul {
  list-style-type: none;
  margin: 0 -0.25rem;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0.25rem;
}

abbr {
  text-decoration-color: var(--secondary);
}
