.grid {
  --columns--header: span 12;
  --columns--featured: span 12;
  --columns--block: span 12;
  --columns--contact: span 12;
  --columns--footer: span 12;

  --rows--featured: initial;

  @media (min-width: 750px) {
    --spacing: 2rem;
    --columns--featured: span 12;
    --columns--block: span 6;
    --columns--contact: span 12;
  }

   @media (min-width: 950px) {
     --columns--block: span 4;
     --columns--contact: span 4;
  }

  @media (min-width: 1500px) {
    --columns--featured: span 8;
    --rows--featured: span 2;
    --columns--contact: span 12;
 }

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--spacing);
  margin: var(--spacing);
  max-width: 1500px;

  &__header {
    grid-column: var(--columns--header);
  }

  &__featured {
    grid-column: var(--columns--featured);
    grid-row: var(--rows--featured);
  }

  &__block {
    grid-column: var(--columns--block);
  }

  &__contact {
    grid-column: var(--columns--contact);
  }

  &__footer {
    grid-column: var(--columns--footer);
  }
}
