.hero {
  box-sizing: border-box;
  position: relative;
  padding: 2rem;
  margin-bottom: 5rem;

  background: #eee;

  @media (min-width: $bp-hero) {
    padding: 5rem;
    margin-bottom: 0;
  }


  @include themed-styles {
    background: var(--featured);

    @media (min-width: $bp-hero) {
      margin-bottom: 8rem;
    }

    &:after {
      content: '';
      display: block;
      height: 1.875rem;

      position: absolute;
      bottom: -1.5625rem;
      left: 0;
      right: 0;

      background: var(--featured-bg);
    }
  }
}
