.icon-links {
  padding: 0 2rem;
  
  @media (min-width: $bp-featured) {
    padding: 0;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    margin: 0.5rem;
  }
  
  &__icon {
    height: 60px;
    width: 60px;
    filter: drop-shadow(-2px 2px 0 $primary);
    fill: var(--secondary);
  }
}