.t-pumpkin {
  --featured: #137752;
  --secondary: #19A974;
  --tertiary: #9EEBCF;
  --light: #FFFCEB;
}

.t-tomato {
  --featured: #E7040F;
  --primary: #001B44;
  --secondary: #FFB700;
  --tertiary: #FBF1A9;
  --light: #E8FDF5;
}

.t-berry {
  --featured: #D5008F;
  --secondary: #19A974;
  --tertiary: #FFDFDF;
  --light: #FFDFDF;
}

.t-emerald {
  --featured: #137752;
  --secondary: #FF725C;
  --tertiary: #E8FDF5;
  --light: #E8FDF5;
}
