$transition-speed: 0.5s;
$primary: #001B44;
$border: 2px solid $primary;
$container-offset: 0.75rem;

@import "functions";
@import "mixins";
@import "themes";
@import "elements";

@import "grid";

@import "container";
@import "avatar";
@import "icon-link";
@import "footer";

.extra-spacing {
  padding: calc(var(--spacing) * 2);
}
