@mixin cross-stitch-list {
  position: relative;
  display: block;
  padding-left: 1.25rem;
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0.25rem;
    top: 0.5rem;
    display: block;
    height: 0.75rem;
    width: 3px;
    border-radius: 3px;
    background: var(--theme-primary);
  }
  
  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }
}